<header>
    <h1>Liferay.com Documentation</h1>
    <p>Super instructions making content changes to liferay.com</p>
   
	<nav>
		<li><a href="#" class="home">Home</a></li>
		<li>
			General
			<ul>
				<li><a href="#" class="tickets">Creating Tickets</a></li>
			</ul>
		</li>
		<li>
			Updating Content
			<ul>
				<li><a href="" class="localization">Localization</a></li>
				<li><a href="" class="resources">Resources / Downloads</a></li>
				<li><a href="" class="partners">Partners</a></li>
				<li><a href="" class="training">Training Classes</a></li>
				<li><a href="" class="events">Events</a></li>
				<li><a href="" class="press-release">Press Releases</a></li>
				<li><a href="" class="case-study">Case Studies</a></li>
			</ul>
		</li>
	</nav>

</header>
