<header id="header">
    <div class="inner">

        <a class="logo" href="index.html">
            <span class="symbol">
                <img alt="Liferay Logo" src="src/images/liferay_logo.png" />
            </span>
            <span class="title">Liferay.com Documentation</span>
        </a>

        <nav>
            <ul>
                <li><a class="open-search" href="#">Search</a></li>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>
    </div>
</header>