<nav id="menu">
    <li class="category">
        General
    </li>
    <ul>
        <li><a href="#" class="tickets">Creating Tickets</a></li>
    </ul>
    <li class="category">
        Updating Content
    </li>
    <ul>
        <li><a href="" class="localization">Localization</a></li>
        <li><a href="" class="landing-page-creation">Landing Page Creation</a></li>
<!--         <li><a href="" class="resources">Resources / Downloads</a></li>
        <li><a href="" class="partners">Partners</a></li>
        <li><a href="" class="training">Training Classes</a></li>
        <li><a href="" class="events">Events</a></li>
        <li><a href="" class="press-release">Press Releases</a></li>
        <li><a href="" class="case-study">Case Studies</a></li> -->
    </ul>
</nav>
