.block-container {
	display: flex;
	flex-wrap: wrap;
}

.justify-center {
	justify-content: center;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justfy-space-between {
	justify-content: space-between;
}

.align-start {
	align-items: flex-start;
}

.align-center {
	align-items: center;
}

.link {
	&:hover {
		cursor: pointer;
	}
}

.fill {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.show {
	opacity: 1;
	z-index: 2;
}

.transition-normal {
	transition: all .25s ease-in;

	&:hover {
		transition: all .25s ease-in;		
	}
}

.hide {
	opacity: 0;
	z-index: -1;
}

.diminish {
	opacity: 0.5 !important;
	transition: opacity 0.5s ease-in;
}

// z-index
.z0 {
	z-index: 0
}

.z1 {
	z-index: 1
}

.z10 {
	z-index: 10
}

.z100 {
	z-index: 100
}

.z1000 {
	z-index: 1000
}