@import 'normalize';
@import 'main';

html {
  overflow-y: scroll;
}
::-webkit-scrollbar { 
    display: none; 
}

body {
	display: none;

	.page-bg {
		opacity: 0;
		width: 100%;
        height: 100%;
        position: absolute;
        transition: all .25s ease-in;
        z-index: -1;

        .overlay {
            background: rgba(0, 0, 0, .5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
	}
}

#main {
	min-height: 80vh
}

blockquote {
	font-weight: 200;
	font-style: italic;
	letter-spacing: 0;
	color: #cecece;
	text-transform: none;
	margin-top: -2em;
	line-height: 1em;
	padding-left: 1em;

	p {
		margin: 0;
	}
}

ul {
	padding-left: 0px;
}

header {
	a.logo {
		transition: all .25s ease-in;

		&:hover {
			opacity: 0.5;
		}
	}
}


#menu {
	.inner {
		li {
			list-style-type: none;
			font-weight: 200;

			&.category {
				line-height: 1.5em;	
				font-size: 1.2em;
				font-weight: 500;
			}

			a {
				font-size: 15px;
				line-height: 20px;

				&.active {
					font-weight: bold;
				}
			}
		}
	}
}