// base styles
@import 'normalize';
@import 'main';
@import 'utilities';
@import 'anim-in-out';

// plugins


// modules
@import 'modules/search';
@import 'modules/menu';
@import 'modules/bottomNav';

// pages
@import 'pages/home';

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
	display: none;
}

body {
	// display: none;

	.page-bg {
		height: 100%;
		opacity: 0;
		position: absolute;
		transition: all 0.25s ease-in;
		width: 100%;
		z-index: -1;

		.overlay {
			background: rgba(0, 0, 0, 0.75);
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

header {
	a.logo {
		transition: all 0.25s ease-in;

		&:hover {
			opacity: 0.5;
		}
	}
}

#main {
	blockquote {
		color: #CECECE;
		font-style: italic;
		font-weight: 200;
		letter-spacing: 0;
		line-height: 1em;
		margin-top: -2em;
		padding-left: 1em;
		text-transform: none;
	}

	p {
		margin: 0;
	}

	iframe {
		width: 100%;
	}
}

