body.page-home { 
    color: rgba(255, 255, 255, 0.8);
    transition: color;

    #wrapper #main .inner {
        width: 100%;
        max-width: 100%;
    }

    h1 {
        font-weight: 100;
        letter-spacing: -5px;
        font-size: 5em;
        line-height: 1em;
        margin-bottom: 0.5em;
    }

    svg,
    path {
        fill: #cecece;
    }    


    .page-bg {
        z-index: -1;
        opacity: 100;
        transition: all .25s 0.5s ease-in;

        .flexslider {
            z-index: -2;
            margin: 0;
            border: 0;
            display: block;
            position: relative; //fixed or absolute may be needed
            height: 100%!important;
            overflow: hidden!important;
            width: 100%!important;
        }

        .flexslider .slides,
        .flexslider .slides li {
            width: 100%!important;
            height: 100%!important;
        }

        .flexslider .slides img{
            min-height: 100%;
            min-width: 100%;
            max-width: 10000%!important; //over ride any existing responsive image styling
            margin: 0 auto!important;
        }
    }

    #footer {
        background-color: rgba(255, 255, 255, 0.0);

        li {
            color: rgba(255, 255, 255, 0.3);
        }
    }
}
