#menu {
	background: #575C78;
	padding: 3em;

	ul {
		padding: 0;
		margin-bottom: 1em;

		li {
			font-weight: 200;
			list-style-type: none;
			padding: 0;

			&.category {
				font-size: 1.2em;
				font-weight: 500;
				line-height: 1.5em;
			}

			a {
				color: #FFF;
				font-size: 15px;
				line-height: 20px;

				&.active {
					font-weight: bold;
				}
			}
		}
	}
}