#menu {
	background: #575C78;

	.inner {
		li {
			font-weight: 200;
			list-style-type: none;

			&.category {
				font-size: 1.2em;
				font-weight: 500;
				line-height: 1.5em;
			}

			a {
				font-size: 15px;
				line-height: 20px;

				&.active {
					font-weight: bold;
				}
			}
		}
	}
}