<style>
.questionsToggle .answer {
	color: #474A4B;
	padding: 0 0 10px 30px;
}

.questionsToggle .arrow {
	border: 6px solid transparent;
	display: inline-block;
	vertical-align: top;
}

.questionsToggle .aui-toggler-header-collapsed .arrow {
	border-right-width: 0;
	border-left-color: #777;
	margin: 3px 14px 0 0;
}

.questionsToggle .aui-toggler-header-expanded .arrow {
	border-bottom-width: 0;
	border-top-color: #777;
	margin: 5px 8px 0 0;
}

.questionsToggle .question {
	color: #000;
	cursor: pointer;
	padding: 10px 0;
}
</style>

<div class="toggleable-list">
	<div class="heading">
		<h2 class="$heading-class.data">$heading.data</h2>
	</div>

	<div class="$container.data questionsToggle">
		<div class="content">
			#foreach ($single_question in $question.getSiblings())
				<div class="question aui-toggler-header-collapsed">
					<span class="arrow"></span>$single_question.data
				</div>
				<div class="answer aui-toggler-content-collapsed">
					$single_question.answer.getData()
				</div>
			#end
		</div>
	</div>
</div>

<script>
	AUI().ready(
		'aui-base', 'aui-toggler',
		function(A) {
			new A.TogglerDelegate(
				{
                    animated: true,
					closeAllOnExpand: false,
					container: '.$container.data',
					content: '.answer',
                    transition: {
                        duration: .5,
                        easing: 'cubic-bezier'
                    },
					expanded: false,
					header: '.question'
				}
			);
		}
	);
</script>