.menu {
	background: #1c75b9;
	padding: 3em;
	height: 100%;

	ul {
		padding: 0;
		margin-bottom: 1em;

		li {
			color: #fff;
			font-weight: 200;
			line-height: 23px;
			list-style-type: none;
			padding: 0;

			&.category {
				font-size: 1.2em;
				font-weight: 500;
				line-height: 1.5em;
			}

			a {
				border-width: 0;
				color: #FFF;
				font-size: 15px;

				&:hover {
					cursor: pointer;
					opacity: 0.8;
				}
			}
		}
	}
}