.menu {
	background: #575C78;
	padding: 3em;
	height: 100%;

	ul {
		padding: 0;
		margin-bottom: 1em;

		li {
			color: #fff;
			font-weight: 200;
			list-style-type: none;
			padding: 0;

			&.category {
				font-size: 1.2em;
				font-weight: 500;
				line-height: 1.5em;
			}

			a {
				color: #FFF;
				font-size: 15px;
				line-height: 20px;

				&:hover {
					cursor: pointer;
					opacity: 0.8;
				}
			}
		}
	}
}